{{#page-container breakpointsConfig="{ \"tablets\": 959, \"phones\": 768 }"}}

	{{#content-block backgroundImage="/img/IMG_8487.JPG" type="header" height="100%" pinBackgroundImageY="bottom" }}
		<div class="header-container">
			<div class="doodle"><img src="/img/doodles/doodle-1-left.png"></div>
			<h1>the infinite seed</h1>
			<div class="doodle"><img src="/img/doodles/doodle-1-right.png"></div>
		</div>
	{{/content-block}}
	
	{{#content-block backgroundGradient="dark-blue-gradient" height="500"}}
		<h2>Mission</h2>
		<p class="highlight">
			The Infinite Seed unlocks <strong class="very-strong">the profound power of 
			storytelling</strong> through present and emerging media platforms 
			to encourage, educate and support active engagement in addressing 
			<strong class="very-strong">climate change</strong>.
		</p>
	{{/content-block}}
	
	{{#content-block backgroundImage="/img/IMG_8600.JPG" height="400" fadeTo=0.25 pinBackgroundImageY="center"}}
		<blockquote>
			"I used to think the top environmental problems were biodiversity 
			loss, ecosystem collapse, and climate change. But I was wrong. 
			The top environmental problems are selfishness, greed, and
			apathy ... and to deal with those <strong class="very-strong">we need a spiritual and
			cultural transformation</strong>."
		</blockquote>
		<p class="attribution">
			- <a href="https://en.wikipedia.org/wiki/James_Gustave_Speth">Gus Speth</a>
		</p>
	{{/content-block}}
	
	{{#content-block backgroundGradient="dark-blue-gradient-2" height="500"}}
		<h2>How</h2>
		<p>
			The seed carries truly miraculous potential: for 
			food, shelter, and life itself.
		</p>
		<p class="highlight">
			<strong>Stories are seeds</strong>. <strong class="very-strong">We plant ideas</strong>.
		</p>
		<p>
			Through the production of <strong class="very-strong">films, games, mobile applications, 
			installations, interactive storybooks and arts education</strong>, 
			our intention is to create and activate portals for a wide range of 
			audiences to engage in cultivating <strong class="very-strong">a new sustainable 
			ecological reality</strong> for humanity and our shared ecosystems.
		</p>
	{{/content-block}}
	
	{{#content-block backgroundImage="/img/6.jpg" height=400}}
		{{!-- <p>
			"Through the production of films, games, mobile applications, 
			installations, interactive storybooks and arts education, our 
			intention is to equip varied audiences with the tools to 
			participate in writing <strong>a new sustainable ecological reality 
			for humanity</strong>."
		</p> --}}
		<p>trailer goes here? (bg image should probably change)</p>
	{{/content-block}}
	
	{{#content-block backgroundGradient="dark-violet-gradient" height="500"}}
		<h2>Three initiatives, one story.</h2>
		<div class="col-container col-3">
			<div class="col">
				<h3>
					<a href="//deadreckoningthemovie.com">Dead Reckoning</a>
					<div class="subhead">Documentary</div>
				</h3>
				<p class="justified">
					A happenstance crew sets set sail around the Svalbard 
					archipelago under the premise that they are the last 
					artists on Earth, producing work for an audience 1000 years
					in the future.
				</p>
			</div>
			<div class="col">
				<h3>
					<a href="//spirethemovie.com">Spire</a>
					<div class="subhead">Science Fiction Film</div>
				</h3>
				<p class="justified">
					In a post-apocalyptic world, the fate of human survival 
					lies with an agriculturist and the remaining crew of a 
					reconnaissance mission to the edge of the world.
				</p>
			</div>
			<div class="col">
				<h3>
					Fissure
					<div class="subhead">Interactive Experience</div>
				</h3>
				<p class="justified">
					Travel through time, space, and species (!) on your mobile 
					device. See the earth and your friends through 
					hyper-augmented reality. Adapt, evolve, or perish!
				</p>
			</div>
		</div>
	{{/content-block}}
	
	{{#content-block backgroundImage="/img/IMG_8544.JPG" height=400}}
		<p>
			Call to action goes here (manifesto?).
		</p>
	{{/content-block}}
	
	{{#content-block backgroundGradient="dark-blue-gradient-2" height=500}}
		<h2>Partners</h2>
		<ul class="partners-list">
			<li class="partner-logo storyline-studios">Storyline Studios</li>
			<li class="partner-logo murphy-design">Murphy Design</li>
			<li class="partner-logo collective-culture">Collective Culture</li>
			<li class="partner-logo base-io">Base.io</li>
			<li class="partner-logo patternleaf">Patternleaf</li>
			<li class="partner-logo soce">School of Critical Engagement</li>
			<li class="partner-logo space-group">Space Group</li>
			<li class="partner-logo place">PLACE</li>
			<li class="partner-logo instaar">Institute for Arctic and Alpine Research</li>
			<li class="partner-logo ncar">National Center for Atmospheric Research</li>
			<li class="partner-logo norwegian-polar-institute">Norwegian Polar Institute</li>
			<li class="partner-logo rnmfa">Royal Norwegian Ministry of Foreign Affairs</li>
			<li class="partner-logo nortana">NORTANA</li>
			<li class="partner-logo crop-trust">Crop Trust</li>
		</ul>
		{{!-- 
		<h2>Resources</h2>
		<p>(We don't need these images for this section ... this is just a possiblity of layout illustrated if it makes sense somewhere.)</p>
		<div class="col-container col-2">
			<div class="col">
				<img src="/img/IMG_0358.jpg">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
			</div>
			<div class="col">
				<img src="/img/IMG_0552.jpg">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
			</div>
		</div>
		--}}
	{{/content-block}}
	
	{{#content-block backgroundImage="/img/DSC_2072k.jpg" height="100%"}}
		<h2>Contribute</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		</p>
	{{/content-block}}
	
	{{#content-block backgroundGradient="dark-blue-gradient"}}
		<h2>Connect</h2>
		
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
		</p>
		{{social-links
			facebook="https://www.facebook.com/The-Infinite-Seed-724600177681809/"
			twitter="https://twitter.com/theinfiniteseed"
			instagram="https://www.instagram.com/theinfiniteseed/"
		}}

	{{/content-block}}
	
	{{#content-block backgroundImage="/img/IMG_8541.JPG" fadeTo=0.25}}
		<h2>Who Are We?</h2>
		<p>
			<strong>The Infinite Seed</strong> is a global inter-disciplinary 
			team of artists, scientists, filmmakers, entrepreneurs, engineers 
			and thinkers  with hundreds of years combined experience making, 
			educating, playing, grieving, and exploring the brilliance and 
			the darkness of the human condition.
		</p>

		{{bio-display people=people}}

	{{/content-block}}
	
{{/page-container}}
