{{#page-container}}

	{{#content-block backgroundImage="/img/IMG_8487.JPG" type="header" height="100%" pinBackgroundImageY="bottom"}}
		<h1>the infinite seed</h1>
	{{/content-block}}
	
	{{#content-block backgroundGradient="dark-blue-gradient"}}
		<h2>Facing our Interdependence <span class="subhead">Without Fear</span></h2>
		<p class="highlight">
			<strong>Something powerful goes here</strong>. Lorem ipsum dolor sit amet <strong>narrative</strong>, consectetur adipisicing elit <strong>climate change</strong>, sed do eiusmod tempor incididunt <strong>human connection</strong> ut labore et dolore magna aliqua. 
		</p>
	{{/content-block}}
	
	{{#content-block backgroundImage="/img/IMG_8600.JPG" height="400" pinBackgroundImageY="center"}}
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	{{/content-block}}
	
	{{#content-block backgroundGradient="dark-violet-gradient"}}
		<div class="col-container">
			<div class="col">
				<h3>Dead Reckoning</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
			</div>
			<div class="col">
				<h3>Spire</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
			</div>
			<div class="col">
				<h3>Fissure</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
			</div>
		</div>
	{{/content-block}}
	
	{{#content-block backgroundImage="/img/IMG_8544.JPG" height="600"}}
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	{{/content-block}}
	
	{{#content-block backgroundGradient="dark-blue-gradient-2"}}
		<div class="col-container">
			<div class="col">
				<img src="/img/IMG_0358.jpg">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
			</div>
			<div class="col">
				<img src="/img/IMG_0552.jpg">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
			</div>
		</div>
	{{/content-block}}
	
	{{#content-block backgroundImage="/img/DSC_2072k.jpg" height="100%"}}
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		</p>
	{{/content-block}}
	
	{{#content-block backgroundGradient="dark-blue-gradient"}}
		<div class="col-container">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
			</p>
		</div>
	{{/content-block}}
	
	{{#content-block backgroundImage="/img/IMG_8541.JPG" height="75%"}}
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	{{/content-block}}
	
{{/page-container}}
