{{#page-container breakpointsConfig="{ \"tablets\": 959, \"phones\": 768 }"}}

	{{#content-block backgroundImage="/img/IMG_8487.JPG" type="header" height="100%" pinBackgroundImageY="bottom" }}
		<div class="header-container">
			<div class="doodle"><img src="/img/doodles/doodle-1-left.png"></div>
			<h1>the infinite seed</h1>
			<div class="doodle"><img src="/img/doodles/doodle-1-right.png"></div>
		</div>
	{{/content-block}}
	
	{{#content-block backgroundGradient="dark-blue-gradient"}}
		<h2>Who Are We?</h2>
		<p class="highlight">
			<strong>The Infinite Seed</strong> is a global inter-disciplinary 
			team of artists, engineers, and thinkers with hundreds of years
			combined experience making, educating, engineering, playing,
			grieving, and exploring the brilliance and the darkness 
			of the human condition.
		</p>
	{{/content-block}}
	
	{{#content-block backgroundImage="/img/IMG_8600.JPG" height="400" fadeTo=0.25 pinBackgroundImageY="center"}}
		<blockquote>
			"I used to think the top environmental problems were biodiversity 
			loss, ecosystem collapse, and climate change. But I was wrong. 
			The top environmental problems are selfishness, greed, and
			apathy ... and to deal with those <strong>we need a spiritual and
			cultural transformation</strong>."
		</blockquote>
		<p class="attribution">
			- <a href="https://en.wikipedia.org/wiki/James_Gustave_Speth">Gus Speth</a>
		</p>
	{{/content-block}}
	
	{{#content-block backgroundGradient="dark-blue-gradient-2"}}
		<h2>Mission <div class="subhead">Stories of Interdependence</div></h2>
		<p class="highlight">
			We use present and emergent media to inspire and ground progressive 
			acts of unusual courage and awareness in a time of deepening 
			systemic crisis.
		</p>
		<p class="highlight">
			We aim to scatter seeds of global conscience and 
			connection through the most primal, visceral vehicle of human 
			communication: <strong>the story</strong>.
		</p>
	{{/content-block}}
	
	{{#content-block backgroundImage="/img/6.jpg" height=400}}
		<p>
			"Through the production of films, games, mobile applications, 
			installations, interactive storybooks and arts education, our 
			intention is to equip varied audiences with the tools to 
			participate in writing <strong>a new sustainable ecological reality 
			for humanity</strong>."
		</p>
	{{/content-block}}
	
	{{#content-block backgroundGradient="dark-violet-gradient"}}
		<h2>Three initiatives, one story.</h2>
		<div class="col-container col-3">
			<div class="col">
				<h3>
					<a href="//deadreckoningthemovie.com">Dead Reckoning</a>
					<div class="subhead">Documentary</div>
				</h3>
				<p class="justified">
					A happenstance crew sets set sail around the Svalbard 
					archipelago under the premise that they are the last 
					artists on Earth, producing work for an audience 1000 years
					in the future.
				</p>
			</div>
			<div class="col">
				<h3>
					<a href="//spirethemovie.com">Spire</a>
					<div class="subhead">Science Fiction Film</div>
				</h3>
				<p class="justified">
					In a post-apocalyptic world, the fate of human survival 
					lies with an agriculturist and the remaining crew of a 
					reconnaissance mission to the edge of the world.
				</p>
			</div>
			<div class="col">
				<h3>
					Fissure
					<div class="subhead">Interactive Experience</div>
				</h3>
				<p class="justified">
					Travel through time, space, and species (!) on your mobile 
					device. See the earth and your friends through 
					hyper-augmented reality. Adapt, evolve, or perish!
				</p>
			</div>
		</div>
	{{/content-block}}
	
	{{#content-block backgroundImage="/img/IMG_8544.JPG" height=400}}
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	{{/content-block}}
	
	{{#content-block backgroundGradient="dark-blue-gradient-2"}}
		<div class="col-container col-2">
			<div class="col">
				<img src="/img/IMG_0358.jpg">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
			</div>
			<div class="col">
				<img src="/img/IMG_0552.jpg">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
			</div>
		</div>
	{{/content-block}}
	
	{{#content-block backgroundImage="/img/DSC_2072k.jpg" height="100%"}}
		<h2>Contribute</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		</p>
	{{/content-block}}
	
	{{#content-block backgroundGradient="dark-blue-gradient"}}
		<h2>Connect</h2>
		<div class="col-container">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
			</p>
			<ul class="social-links">
				<li class="facebook"><a href="#">{{fa-icon "facebook"}}</a></li>
				<li class="twitter"><a href="#">{{fa-icon "twitter"}}</a></li>
				<li class="instagram"><a href="#">{{fa-icon "instagram"}}</a></li>
			</ul>
		</div>
	{{/content-block}}
	
	{{#content-block backgroundImage="/img/IMG_8541.JPG" height="75%"}}
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	{{/content-block}}
	
{{/page-container}}
